@import '../../utilities/variables';

.focus-mode-cnt{
    width: 100%;

    display: flex;
    align-items: center;

    flex-direction: column;

    gap: 20px;
    position: relative;
    &:has(.popup-box){
        overflow: hidden;
    }

    .start-stop.cnt{
        margin-top: 20px;
        width: min(300px, 60%);
        .start-stop.btn{
            width: 100%;
            font-size: 16px;
            background-color: $accent-bg-light-color1;
            height: 35px;
            border-radius: 10px;
            border: 0;
            transition: background-color 200ms ease-in;
            color: $font-color1;
            
            &:hover{
                background-color: $accent-bg-dark-color1;
                
            }
    
        }
    }
    .schedule-cnt{
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        flex-direction: column;
        
        gap: 10px;
        
        position: relative; 
        .heading{
            width: min(90%,600px);
            background-color: $bg-color2;
            padding: 10px 0;

            display: flex;
            gap: 10px;

            z-index: 1;
            svg {
                width: 20px;
                height: 20px;
            }
            &.sticky {
                position: sticky;
                top: 0;
              }
        }
        .add-btn-cnt{
            display: flex;
            justify-content: center;
            align-items: center;

            width: min(90%,600px);
            padding: 2px 5px;

            background-color: $bg-color3;
            &:hover{
                background-color: $bg-color4;

            }
            border-radius: 5px;
            margin: 0 10px;

            //Plus icon
            svg{
                width: 20px;
                height: 20px;
            }
        }
        .schedule-list{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            flex-direction: column;
            gap: 10px;
            .schedule-item{
                width: min(90%,600px);
                padding: 10px 5px;
                border-radius: 10px;
                background-color: $bg-color3;

                &:hover{
                    background-color: $bg-color4;
                }
            }
            .schedule-item.compact{
                display: flex;
                justify-content: space-around;
                align-items: center;

                cursor: default;


                .clock-icon-cnt{
                    flex: 0 0 15%;
                    svg{
                        width: 20px;
                        height: 20px;
                    }
                }
                .content{
                    flex: 0 0 70%;
                    padding-right: 10px;
                    border-right: solid 2px $font-color2;

                    h3.content-heading{
                        font-size: 14px;
                        margin-bottom: 5px;
                        color: $font-color1;

                    }
                    .desc{
                        font-size: 12px;
                        line-height: 1.5;
                    }
                }
                .delete-icon-cnt{
                    flex: 0 0 15%;
                    // border-left: solid $font-color1 2px;

                    svg{
                        width: 20px;
                        height: 20px;
                        path{
                            color: $icon-red1;
                        }
                    }

                    &:hover{
                        path{
                            color: $icon-red2;
                        }
                    }
                }
            }

        }
    }


}