@use '../../../utilities/variables' as variables;


.add-restricted-site-cnt{
    height: auto;
    border-collapse: collapse;
    width: min(90%, 500px);
    margin-bottom: 10px;

    position: relative;


    .item{
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        padding: 10px 0;
        // border-bottom: 1px solid variables.$font-color2;
        border-radius: 10px;

        background-color: variables.$bg-color3;

        // .cell:nth-child(1){
        .plus-btn-cnt{   
        //plus-btn-cnt
            // flex-grow: 0;     
            // flex-shrink: 0;
            // flex-basis: 25px; 
            width: 35px;
            height: 35px;


            background-color: variables.$bg-color4;
            cursor: not-allowed;

            border: solid 1px variables.$font-color1;
            
            &:hover{
                background-color: variables.$bg-color4;
            }
            &.active{
                cursor: pointer;
                background-color: variables.$accent-color1;
                .inner-cnt{
                    svg{
                        line{
                            color: variables.$bg-color2;
                        }
                    }
                }
            }

            margin: 10px;
            border-radius: 5px;
        } 
        // .cell:nth-child(2){
        .site-icon{
            flex-grow: 0;     
            flex-shrink: 0;
            flex-basis: 40px; 
            height: 40px;
            img{
                width: 25px;
                height: 25px;
            }
        }
        // .cell:nth-child(3){
        .cell.site-input-cnt{
            justify-content: flex-start;
            flex-grow: 1;     

            padding: 0 10px;
            input{
                width: 100%;
                height: 40px;
        
                background-color: variables.$bg-color3;
                color: variables.$font-color0;
        
                border: solid 2px variables.$font-color2;
                border-radius: 5px;
        
                font-size: 14px;
                padding: 0 5px;
            }
        }
    }

    .options-cnt{

        // position: absolute;

        width: 100%;

        background-color: variables.$bg-color3;
        margin-top: 5px;
        border-radius: 5px;

        max-height: 200px;
        overflow-y: scroll;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            width: 4px;
          }

        .option-heading{
            font-size: 14px;
            padding: 10px;
            color: variables.$font-color2;
        }
        
        li.option{
            width: 100%;
            gap: 10px;
            height: 50px;

            display: flex;
            justify-content: flex-start;
            align-items: center;

            padding: 10px;
            cursor: pointer;

            &:hover{
                background-color: variables.$bg-color5;
            }
            
            &.select{
                background-color: variables.$bg-color4;
            }

            .option-icon{
                width: 25px;
                height: 25px;
            }

            .option-name{
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;

                
            }
            .option-plus-icon{
                margin-left: auto;
                width: 30px;
                height: 30px;
                svg{
                    height: 15px;
                    width: 15px;
                }

                border: solid 2px variables.$bg-color5;
                border-radius: 5px;

            }
        }
        
    }
}