@use '../../../utilities/variables' as variables;



.focus-restricted-sites-cnt{   
    width: min(90%,600px);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    flex-direction: column;
    
    .sticky {
        background-color: variables.$bg-color2;
        width: 100%;
        position: sticky;
        // top: 35px;
        top: 0px;
        z-index: 1;
    }
    .heading{
        margin: 5px 0;
        // margin: 10px auto;
        width: 100%;
        background-color: variables.$bg-color2;
        padding: 5px 0;

        display: flex;
        gap: 10px;
        svg {
            width: 20px;
            height: 20px;
            path{
                color: red;
            }
        }
    }
    .add-curr-site-to-restrited-site{
        // min-width: 250px;
        width: min(90%, 500px);
        margin-bottom: 10px;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        // padding: 10px;
        background-color: variables.$accent-bg-dark-color1;

        > div{
            padding: 10px;
            color: variables.$font-color0;
        }

        .icon-cnt{
            img{
                width: 25px;
                height: 25px;
            }
        }
        .site-cnt{
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: flex-start;
            justify-content: flex-start;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            .site{
                color: variables.$font-color0;
                font-size: 13px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width:100%;

            }
            .desc{
                color: variables.$font-color1;
                font-size: 12px;
                text-decoration: underline;
                cursor: pointer;
                // font-style: italic;
            }

        }


    }
    .no-restricted-sites-cnt{
        width: min(90%, 500px);
        height: 100px;
        color: variables.$font-color1;

    }
    .site-table-heading{
        margin: 5px 0;
        padding: 10px 0;
        color: variables.$accent-color1;
        // font-size: 16px;
    }
    .restricted-site-table{     
        width: min(90%, 500px);
        margin-bottom: 20px;
        
        border-collapse: collapse; 
        position: relative;  


        .item{
            width: 100%;
            justify-content: flex-start;
            border-bottom: 1px solid variables.$font-color4;

            div{
                padding: 10px;
                input[type="checkbox"] {
                    width: 12px;
                    height: 12px;
                    accent-color: variables.$accent-color1;
                }
                img{
                    width: 25px;
                    height: 25px;
                }
            }
            .site{
                color: variables.$font-color0;
                font-size: 13px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width:100%;

            }
        }
    }
}