// font Color
$font-color0: #ffffff;
$font-color1: #d4d4d4;
$font-color2: #979797;
$font-color3: #646464;
$font-color4: #323232;
$font-color5: #282828;
$font-red1: #ff9b9b;

$font-accent-color1: rgb(159, 255, 239);

// Icon Color
$icon-color1: hsl(0, 0%, 75%);
$icon-red0:rgb(255, 203, 203);
$icon-red1:#ffabab;
$icon-red2:rgb(240, 103, 103);
$icon-red3:#f51c1c;

// Background Color
$bg-color1: #000000;
$bg-color2: #1e1e1e;
$bg-color3: #2f2f2f;
$bg-color4: #434343;
$bg-color5: #636363;
$bg-color6: #c2c2c2;
$bg-color7: #e8e8e8;
$bg-color8: #fff9f9;
$bg-color-red1: #ffa7a7;
$bg-transparant: #060606ab;


// Accent Color
$accent-color0: #afe3ff;
$accent-color1: #afe3ff;
$accent-color2: #8eb6cb;
$accent-green-color1: rgb(120, 255, 174);

$accent-light-color1: #22d4d433;
$accent-red-color1: #d4222233;

$accent-bg-dark-color1: #2d4b48;
$accent-bg-light-color1: #3b7375;

$accent-bg-bright-color2: #95fbff;
$accent-bg-bright-color3: #78c3c6;

$accent-bg-dark-color2: #497676;

$dummy: #ffffff;