// font Color
$font-color0: rgb(255, 255, 255);
$font-color1: rgb(212, 212, 212);
$font-color2: rgb(151, 151, 151);

// Icon Color
$icon-color1: rgb(190, 190, 190);

// Background Color
$bg-color1: rgb(0, 0, 0);
$bg-color2: rgb(40, 40, 40);
$bg-color3: rgb(70, 70, 70);
$bg-color4: rgb(99, 99, 99);


// Accent Color
$accent-color1: rgb(175, 227, 255);
$accent-bg-dark-color1: rgb(45, 75, 72);
$accent-bg-light-color1: rgb(59, 115, 117);
