@use './variables' as variables;

.descision-yes-no-popup-cnt{
    position: absolute;
    top: 200px;
    width: min(90%, 500px);
    background-color: variables.$bg-color2;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    border-radius: 10px;
    .heading{

    }
    .desc{
        font-size: 14px;
    }

    .btn-cnt{
        width: 100%;

        display: flex;
        justify-content: space-around;

        button.btn{
            width: 40%;
            padding: 10px;
            background-color: variables.$bg-color3;
            border: 0;
            border-radius: 10px;

            &:hover{
                background-color: variables.$bg-color4;
            }

            &.yes{
                color: variables.$accent-green-color1;
            }
            &.no{
                color: variables.$font-red1;
            }
        }
    }

}
