@import './variables';


.popup-screen{
    
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    
    &.full{
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: $bg-transparant;
        top: 0;
        left: 0;
    }


    
    &.toast{
        z-index: 3;

        position: fixed;
        align-items: center;

        background-color: $accent-color1;
        color: $font-color5;
        bottom: 125px;

        max-width: min(300px, 80%);
        min-width: 200px;
        padding: 10px;

        border-radius: 2px;
        animation-duration: 2.5s;
        animation-timing-function: ease-in-out;

        animation-name: fadeoff;
        opacity: 0;

        cursor: default;

        &.red{
            background-color: $font-red1;
        }

        &.green{
            background-color: #b5ffb7;
        }
        
        @keyframes fadeoff {
            0%{
                opacity: 0;
                transform: translateY(75px);
            }
            
            5%{
                opacity: 1;
                transform: translateY(0);
            }
            
            95%{
                transform: translateY(0);
                opacity: 1;
            }
            
            100%{
                transform: translateY(75px);
                opacity: 0;
            }
            
        }
    }
}