@use '../../../utilities/variables' as variables;

.time-limit-input-popup-cnt{
    position: relative;
    width: min(80%, 450px);
    background-color: $bg-color2;
    padding: 25px;

    display: flex;
    flex-direction: column;

    border-radius: 10px;

    justify-content: center;
    align-items: center;
    .close.btn{
        display: flex;
        justify-content: center;
        align-items: center;


        padding: 5px;
        margin: 5px;

        position: absolute;
        right: 0;
        top: 0;

        background-color: transparent;
        border-radius: 5px;
        
        &:hover{
            background-color: $bg-color3;

            svg{
                path{
                    color: $bg-color-red1;
                }
            }
        }

        svg{
            width: 25px;
            height: 25px;

        }
    }
    .heading{
        margin: 10px;
        margin-bottom: 20px;
        
        align-self: center;
        justify-self: center;
        
        font-size: 16px;
        
        color: $font-color1;
    }
    .site-info{
        display: flex;
        justify-content: center;
        align-items: center;
        
        gap: 10px;
        img.site-icon{
            width: 25px;
            height: 25px;
        }
        .hostname{
            color: $font-color2;
            font-size: 16px;
        }
        margin-bottom: 20px;
    }
    .time-input-cnt{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border: solid $font-color2 2px;

        border-radius: 5px;

        margin-bottom: 30px;

        select.time-input{
            background-color: transparent;
            font-size: 16px;
            border: 0;

            padding: 5px;
            
            option{
                background-color: $bg-color3;
                color: $font-color1;


                &:hover{
                    color: $font-color4;  
                }
            }
        }
        .colon{
            font-size: 14px;
        }

        svg{ //Clock Icon

            margin: 0 10px;
        }
    }





    // .set-cnt{
    .set-input{
        width: 60%;
        color: $font-color4;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        background-color: $bg-color4;

        margin-bottom: 20px;

        &.active{
            background-color: $accent-color2;
            &:hover {
                background-color: $accent-color1;
            }
        }

        border-radius: 40px;
        border: 0;
    }

    .remove-cnt{
        padding: 10px;
        font-size: 14px;

        border-radius: 10px;

        background-color: $accent-red-color1;
        color: $bg-color-red1;

        text-decoration: underline;
        cursor: pointer;

        margin-bottom: 20px;

    }
    
    .cancel-cnt{
        font-size: 14px;
        color: $font-color1;
        text-decoration: underline;
        cursor: pointer;

    }

}