.App {
    width: min(950px, 95%);
    min-width: 350px;

    height: 100vh;
    // min-height: 600px;
    // max-height: 600px;
    min-height: 600px;
    // !Debugging
    display: flex;
    flex-direction: column;
    margin: 0 5px;
  } 
  