@import '../../utilities/variables';

.block-site-cnt{
    .block-site-list-cnt{
        &.clicked{
            height: auto;
        }
        height: 6%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .block-site-show-btn{
            display: flex;
            justify-content: center;
            align-items: center;
    
            height: 100%;
            width: 100%;
            background-color:  $bg-color3;
            border-radius: 0 0 5px 5px;
            
            &:hover{
                background-color:  $bg-color4;
            }
    
            svg{
                animation: arrow-down 900ms ease-out  infinite;
            }
            @keyframes arrow-down {
                0%{
                    transform: translateY(-5px);
                }
                100%{
                    transform: translateY(5px);
                }
    
                
            }
        }
        h3 {
            margin-top: 50px;
            margin-bottom: 20px;
            width: 100%;
            text-align: center;
        }
        .block-site-list-table{
            height: auto;
            border-collapse: collapse;
            width: min(90%, 500px);
            margin-bottom: 25px;

            img{
                width: 20px;
                height: 20px;
            }
            td{
                border-bottom: 1px solid $font-color2;
                padding: 8px;
                text-align: center;
            }
            
            td:nth-child(3){
                text-align: left;

            }
        }
    }
}