@use '../../../utilities/variables' as variables;


.loading-bg{
    width: 100%;
    height: 100%;
    background-color: $bg-color1;
    position: absolute;
    z-index: 2;

    animation: fade-out 0.7s ease ;

    opacity: 0;

    @keyframes fade-out {
        0% {opacity: 1;} 
        50% {opacity: 0.70;} 
    }

    .loading-cnt{
        .loading-img{
            width: 50px;
            height: 50px;
        }

        transform: scale(1.5);
        
        animation: loading 0.7s ease ;

        @keyframes loading {
            50% {transform: scale(0.5);}  
        }

    }


}
.block-site-cnt{
    width: 100%;
    height: 100%;
    .content{
            height: 94%;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: space-around;

            flex-direction: column;
        
        .invalid-site-bg{
            svg {
                width: 175px;
                height: 175px;
                path{
                    fill: $bg-color3;
                }
            }
        }
        .invalid-site-msg{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            width: 70%;
            .icon{
                svg{
                    height: 20px;
                    width: 20px;
                }
            }
            h3{
                font-size: 14px;
                color: $font-color2;
            }
        }
            
        .icon-cnt{
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.8);
            &.block{
                animation: shake 500ms ease-in normal 5;
                @keyframes shake {
                    0% { transform: translate(1px, 1px) rotate(0deg); }
                    10% { transform: translate(-1px, -2px) rotate(-1deg); }
                    20% { transform: translate(-3px, 0px) rotate(1deg); }
                    30% { transform: translate(3px, 2px) rotate(0deg); }
                    40% { transform: translate(1px, -1px) rotate(1deg); }
                    50% { transform: translate(-1px, 2px) rotate(-1deg); }
                    60% { transform: translate(-3px, 1px) rotate(0deg); }
                    70% { transform: translate(3px, 1px) rotate(-1deg); }
                    80% { transform: translate(-1px, -1px) rotate(1deg); }
                    90% { transform: translate(1px, 2px) rotate(0deg); }
                    100% { transform: translate(1px, -2px) rotate(-1deg); }
                }
            }
            .icon{
                background-color: $bg-color3;
                border-radius: 10px;
                
                display: flex;
                justify-content: center;
                align-items: center;
                
                padding: 10px;
                svg, img{
                    width: 30px;
                    height: 30px;
                    animation: zoom-out 200ms ease-in normal;
                    @keyframes zoom-out {
                        0%{
                            transform: scale(0.5);
                        }
                        100%{
                            transform: scale(1);
                        }
                    }
                }
                img.block{     
                    filter: grayscale(100%);
                }
                // When Image is not avaialabe
                svg{
                    path{
                        
                        stroke: $accent-color1;
                    }
                }
            }
        }

        .host-name{
            padding: 10px 25px;
            background-color: $accent-light-color1;
            border-radius: 20px;

            color: $font-accent-color1;
            font-size: 20px;

            &.blocked{
                text-decoration: line-through;
            }
        }

        
        .btn{
            font-size: 16px;
            background-color: $accent-bg-light-color1;
            width: min(300px, 60%);
            height: 35px;
            border-radius: 10px;
            border: 0;
            transition: background-color 200ms ease-in;
            color: $font-color1;
            
            &:hover{
                background-color: $accent-bg-dark-color1;
                
            }

        }
    }
}
