
@import '../../../utilities/variables';

.site-info-card-cnt{
    
    display: flex;
    
    flex-wrap: wrap;
    
    .quarter-cnt{
        width: 100px;
        height: 75px;

        &.first{
            border-bottom: solid $font-color3 1px;
            border-right: solid $font-color3 1px;
        }
        &.second{
            // border-bottom: solid $font-color3 1px;
            border-left: solid $font-color3 1px;
        }
        &.third{
            border-top: solid $font-color3 1px;
            // border-right: solid $font-color3 1px;

        }
        &.fourth{
            border-top: solid $font-color3 1px;
            border-left: solid $font-color3 1px;
        }

        display: flex;
        flex-direction: column;

        align-items: center;

        .bar{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .bar.value{
            height: 50%;
            font-size: 18px;

            color: $font-color1;

        }
        .line{
            border: 0;
            border-top: solid $font-color3 1px;
            width: 100%;
        }
        .bar.title{
            height: 50%;

            font-size: 14px;
            color: $font-color2;

        }
    }

}