@import "../../utilities/variables";

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    margin: 10px 0;

    .headerCnt{
        display: flex;
        align-items: center;
        justify-content: center;

        transition: 1s;
    
        width: 80%;
        &:hover{
            .title{
                width: 130px;
            }
        }

        .title{
            font-size: 20px;
            font-weight: 900;

            cursor: pointer;

            display: flex;
            align-items: center;
            overflow: hidden;

            transition: 1s;

            white-space: nowrap;
            width: 0px;
            animation: reveal 2s ease-in;

            direction: rtl;

            @keyframes reveal {
                0%{
                    width: 130px;
                }
                60%{
                    width: 130px;
                }
                100%{
                    width: 0px;
                }
                
            }
        }
        .extentionIconImg{
            vertical-align: middle;
            width: 30px;
            height: 30px;

            // padding: 5px;
            margin: 0 2px;
        }
        
    }

}

